/* Header styles */
.navbar {
  background-color: #ff5757 !important;
}

.navbar-brand {
  color: white;
  font-size: 24px;
}

/* Restaurant card styles */
.card {
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 20px;
  margin-top: 10px;
}

.card-text {
  color: #666;
  font-size: 14px;
}
.carousel-inner {
  height: 20vh;
}
/* SearchBar.css */
.search-bar {
  position: relative;
}

.search-input {
  padding: 10px 40px; /* Adjust padding based on icon size */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-icon,
.microphone-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2em; /* Adjust icon size */
}

.search-icon {
  left: 10px; /* Adjust icon position */
}

.microphone-icon {
  right: 10px; /* Adjust icon position */
}
/* LocationProfileSection.css */
.location-profile-section {
  display: flex;
  align-items: center;
  height: 10vh;
}

.location,
.profile {
  margin: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.location svg,
.profile svg {
  font-size: 1.2em; /* Adjust icon size */
  margin-right: 5px;
}
.location p {
  margin-bottom: 0;
}
.card-body h5 {
  margin-top: 0;
  margin-bottom: 0;
}
.like {
  position: absolute;
  right: 0;
  font-size: 1.5rem;
  margin: 0.5rem;
  z-index: 1;
}
/* RestaurantDetails.css */

.restaurant-details {
  padding: 20px;

  margin: 20px;
}
.restaurant-address {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.restaurant-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.info-label {
  font-weight: bold;
}

.cuisines {
  margin-top: 10px;
}

/* Add more styling as needed */
/* Styling for ItemList */
.item-list {
  padding: 20px;
}

/* Styling for ItemDetails */
.item-details {
  display: flex;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}

.item-info {
  flex: 1;
}

.item-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-rating {
  display: flex;
  align-items: center;
}
.item-info p {
  margin-bottom: 0;
  font-size: 12px;
}
.item-image {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.item-image img {
  max-width: 100%;
  height: 20vh;
}
.item-image button {
  margin: 0 auto;
}
.item-list ul {
  list-style: none;
}
.cart ul {
  list-style: none;
  padding-left: 0;
}
.add-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  margin-top: -20px !important;
  border-radius: 14px;
}
.nav-item {
  display: inline-block;
  color: red;
}
.navbar {
  background-color: transparent;
}
footer {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.discount {
  background-color: #e7eff9;
  background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
  font-size: 14px;
  font-weight: 600;
  color: blue;
}
.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  height: 75vh;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.loginContainer input {
  padding: 0.3rem;
}
